.new {
  color: white;
  padding: 0 3px;
  border-radius: 2px;
  margin-right: 20px;
}
.messageContainer {
  max-height: 55vh;
  overflow: auto;
  margin-bottom: 50px;
}
.message {
  display: flex;
  margin: 15px;
  align-items: center;
  justify-content: flex-end;
}

.message li {
  list-style: none;
  color: rgb(71, 71, 73);
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  min-width: 50vw;
  background-color: #e2f1f6bf;
}
.wrapper {
  display: flex;
  flex-wrap: no-wrap;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
}

.modalDetail {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: #407ebcf6;
  padding: 30px;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  box-shadow: 0 0 5px 5px #5287bd;
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  box-shadow: inset 0 0 40px #e2f1f6f0;
}
.modalContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-height: 70vh;
  overflow: auto;
  margin: 30px 0;
}
.modalContainer div {
  display: flex;
}
.modalDetail input {
  border: none;
  background-color: #e2f1f648;
  color: rgb(255, 255, 255);
}
.modalDetail select,
.modalDetail input {
  min-width: 20vw;
  min-height: 5vh;
  max-width: 80vw;
}
.modalDetail label {
  color: white;
  margin: 10px;
}
.modalDetail div {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.modalDetail h3 {
  text-align: center;
  color: white;
}
.editDetail {
  background-color: #1ad032;
  width: 135px;
  height: auto;
  text-align: center;
  margin: 15px;
  padding: 10px;
  border-radius: 10px;
  color: white;
  position: absolute;
  bottom: -5px;
  right: 15px;
}
.saveDetail {
  background-color: #c6b518;
  width: 103px;
  height: auto;
  text-align: center;
  margin: 15px;
  padding: 10px;
  border-radius: 10px;
  color: white;
  position: absolute;
  bottom: -5px;
  right: 15px;
}
.modalDetail span {
  color: white;
  position: absolute;
  top: 20px;
  right: 30px;
  cursor: pointer;
}

.active {
  background-color: white;
  color: black;
}
.addMessage {
  margin: 20px;
  border: none;
  padding: 10px;
  border-radius: 10px;
  background-color: #5287bd;
  color: white;
}
.wrapModal {
  position: relative;
}
.deleteDetail {
  background-color: #d01a1a;
  width: 103px;
  height: auto;
  text-align: center;
  margin: 15px;
  padding: 10px;
  border-radius: 10px;
  color: white;
  position: absolute;
  bottom: -5px;
  left: 15px;
}
