.formPublic {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #e2f1f6;
  padding: 30px;
  width: 450px;
  border-radius: 10px;
}
.report {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin: 50px 0 100px 0;
  gap: 100px;
}
.report img {
  max-width: 100%;
}
.formPublic input {
  margin: 10px;
  width: 280px;
  border: none;
  height: 40px;
  border-radius: 5px;
  padding: 10px;
}
.formPublic select {
  border: none;
  margin: 10px;
  width: 280px;
  height: 40px;
}

.formPublic label {
  text-align: center;
}
.formPublic h2 {
  color: #2b425b;
  padding-bottom: 20px;
  margin: 0;
}

.formPublic button {
  width: 100px;
  height: 40px;
  color: white;
  background-color: #3a6da0;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.modalForm {
  background-color: #e2f1f6f0;
  border-radius: 0;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  overflow: auto;
  box-shadow: inset 0 0 40px #3a6da0;
  border-radius: 15px;
}
.modalForm div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.modalForm span {
  color: red;
  position: absolute;
  right: 20px;
  top: 10px;
  cursor: pointer;
}
.modalForm input,
.modalForm select {
  border: none;
  margin: 10px;
  min-width: 30vw;
}
.modalForm button {
  border: none;
  background-color: #3a6da0;
  padding: 10px;
  margin-top: 10px;
  border-radius: 5px;
  color: white;
}
input:invalid,
select:invalid {
  background-color: ivory;
  border: none;
  outline: 2px solid rgba(255, 0, 0, 0.478);
  border-radius: 5px;
}

@media screen and (max-width: 500px) {
  .formPublic {
    width: 350px;
  }
  .formPublic input {
    width: 250px;
  }
  .formPublic select {
    width: 250px;
  }
}
