form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #e2f1f6;
  padding: 30px;
  width: 450px;
  border-radius: 10px;
}
.report {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin: 50px 0 100px 0;
  gap: 100px;
}
.report img {
  max-width: 100%;
}
form input {
  margin: 10px;
  width: 280px;
  border: none;
  height: 40px;
  border-radius: 5px;
  padding: 10px;
}
form select {
  border: none;
  margin: 10px;
  width: 280px;
  height: 40px;
}

form label {
  text-align: center;
}
form h2 {
  color: #2b425b;
  padding-bottom: 20px;
  margin: 0;
}

form button {
  width: 100px;
  height: 40px;
  color: white;
  background-color: #3a6da0;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}
.modal {
  border-radius: 10px;
  display: grid;
  justify-content: center;
  background-image: url(thief.svg);
  background-position: center;
  background-size: contain;
  border-radius: 10px;
  transform: scale(0.8);
  box-shadow: 0 0 15px 5px #3a6da0;
}
.modal button {
  transform: scale(1.4);
  margin-top: 20px;
}
.modal span {
  color: red;
  position: absolute;
  right: 20px;
  top: 20px;
  transform: scale(1.8);
  cursor: pointer;
}
.modalForm {
  display: flex;
  background-color: #e2f1f6e8;
  border-radius: 0;
  min-width: 50vw;
}
@media screen and (max-width: 500px) {
  form {
    width: 350px;
  }
  form input {
    width: 250px;
  }
  form select {
    width: 250px;
  }
}
