.detailContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  border-radius: 15px;
  min-width: 100%;
  padding: 40px 60px;
  color: white;
  box-shadow: 0 0 7px 4px #9dccf1;
  column-gap: 50px;
  background-color: #406d9af1;
  margin: 0;
  position: relative;
}

.details {
  position: absolute;
}
.cancel {
  border: none;
  background-color: rgba(255, 0, 0, 0.76);
  color: white;
  width: 100px;
  height: 40px;
  border-radius: 50px;
  margin-top: 20px;
  cursor: pointer;
}
.approveButton {
  border: none;
  background-color: rgba(0, 255, 94, 0.76);
  color: white;
  width: 100px;
  height: 40px;
  border-radius: 50px;
  margin-top: 40px;
  cursor: pointer;
}

.avatar {
  max-width: 30%;
}
h3 {
  color: rgb(255, 255, 255);
  text-align: center;
}
.surname {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #406d9a00;
  padding: 0;
  max-width: 50vw;
}
.surname input {
  border: none;
  border-radius: 10px;
  background-color: #e9f1f8b4;

  padding: 0 10px;
  margin: 5px;
  min-width: 20vw;
  background-color: white;
}
.surname input:disabled {
  background-color: #3e4347de;
  color: rgb(255, 255, 255);
}
.edit {
  border: none;
  background-color: #0b5eb1;
  color: white;
  border-radius: 15px;
  padding: 5px;
  width: 50px;
  cursor: pointer;
  align-self: flex-start;
  margin-right: 30px;
}
.businessCard {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 15px;
  position: relative;
}
.businessCard span {
  position: absolute;
  color: rgb(255, 255, 255);
  cursor: pointer;
  font-size: 18px;
  top: 15px;
  right: 20px;
}
.businessCard span:hover {
  text-decoration: none;
}
