.pic {
  background-color: #eaf3fa;
  text-align: center;
}
.pic img {
  max-width: 50%;
}
.officers {
  display: flex;
  flex-direction: column;
  max-height: 55vh;
  overflow: auto;
  margin: 10px;

  padding: 20px;
  border-radius: 15px;
}

.title {
  text-align: center;
  margin: 0;
  padding: 10px 0;
  color: white;
  background-color: #5288bd;
}

.approve {
  display: flex;
  align-items: center;

  flex-wrap: no-wrap;
  margin: 10px;
  column-gap: 10px;
}
.approve li {
  border-radius: 5px;
  word-break: break-word;
  color: #31577c;
  padding: 10px;
  cursor: pointer;
  background-color: #eaf3fa9d;
  min-width: 45vw;
}
.approve span {
  border: none;
  padding: 5px 10px;
  height: 40px;
  margin: 5px;
  border-radius: 15px;
  color: red;
  cursor: pointer;
}

.approve button:nth-of-type(1) {
  background-color: rgba(237, 79, 79, 0.701);
}
.approve button:nth-of-type(1):hover {
  background-color: #5288bd;
}
.officerContainer {
  padding-bottom: 50px;
  font-size: 18px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.addOfficer {
  position: fixed;
  background-color: #5287bddd;
  color: white;
  top: 20%;
  padding: 30px;
  border-radius: 10px;
}
.relat {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  margin: 10px;
}

.close {
  position: absolute;
  top: -20px;
  right: -20px;
  cursor: pointer;
}
.addOfficer button {
  background-color: #52bd5d;
  margin-top: 15px;
  border: none;
  border-radius: 10px;
  color: white;
  padding: 5px;
}
.addOfficer input {
  border: none;
  border-radius: 5px;
  min-width: 20vw;
}
.addButton {
  background-color: #5288bd;
  color: white;
  border: none;
  border-radius: 15px;
  padding: 10px 20px;
  margin: 20px;
}
.loading {
  color: #3273b4;
  text-align: center;
  font-size: 20px;
}

@media screen and (max-width: 451px) {
  .officers {
    margin: 10px;
  }
}
